body{
    font-family: 'Poppins', sans-serif;
}

.btn{
    margin: 0.2rem 0.2rem 0.2rem 0;
    /* color: black; */
    font-weight: 500;
    border-width: 2px;
}

.container-fluid{
    padding: 5% 15%;
}

@media (max-width: 1020px){
    .container-fluid{
        padding: 5% 10%;
    }
}

.hi-there{
    font-size: 4rem;
    font-weight: 900;
}

@media (max-width: 764px){
    .hi-there{
        font-size: 2.5rem;
    }
}

@media (max-width: 1020px){
    .hi-there{
        font-size: 2.9rem;
    }
}

#intro{
    background-color: #eeeff1;
}

@media (max-width: 764px){
    #intro{
       text-align: center;
   }
}

.intro-text{
    font-size: 1.8rem;
    line-height: 1.6;
    margin: auto;
}

@media (max-width: 764px){
    .intro-text{
        font-size: 1.2rem;
    }
}

@media (max-width: 1020px){
    .intro-text{
        font-size: 1.4rem;
    }
}


.profile-pic-container{
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.profile-pic{
    border-radius: 100%;
    width: 90%;
}

@media (max-width: 764px){
    .profile-pic{
        width: 60%;
    }
}

@media (max-width: 1020px){
    .profile-pic{
        width: 100%;
    }
}

/* Navigation Bar */
.navbar{
    padding: 1% 2%;
}

@media (max-width: 764px){
   .navbar{
       padding: 4%;
   }
}

.navbar-brand{
    font-size: 1.8rem;
    font-weight: 600;
}

/* Skills */

.skills-heading, .contact-heading{
    font-size: 3rem;
    font-weight: 600;
}

.skills-container{
    padding: 2rem 0;
}

/* Contact Form */
#contact{
    background-color: #eeeff1;
}

.contact-heading{
    padding-bottom: 1rem;
}

.form-row{
    padding-bottom: 2rem;
}


